/* CSS Reset */
html {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Tokens */
:root {
  /* Layout */
  --roundness: 3px;
  --unit: 8px;

  /* Colors */
  --color-bg: #29292e;
  --color-text: #fff;
  --color-text-muted: rgba(255, 255, 255, 0.5);
  --color-surface: rgba(255, 255, 255, 0.05);
  --color-surface-hover: rgba(255, 255, 255, 0.1);
  --color-surface-wallpaper: rgba(255, 255, 255, 0.15);
  --color-surface-wallpaper-hover: rgba(255, 255, 255, 0.25);
  --color-status-running: #65bf9b;
  --color-status-warning: #f0c674;
  --color-status-danger: #da5956;
  --color-status-unknown: rgba(255, 255, 255, 0.3);

  /* Shadows */
  --shadow-text: 0 1px 1px rgba(0, 0, 0, 0.3);
  --shadow-box: 0 1px 3px rgba(0, 0, 0, 0.1);

  /* Effects */
  --transition: 150ms ease-in-out;
  --blur: blur(33px);

  /* Typography */
  --font-size-sm: 12px;
}

/* Styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

body.wallpaper {
  background-size: cover;
  background-position: center;
  background-image: var(--wallpaper, 'none');
}

main {
  display: flex;
  margin: auto;
  max-width: 960px;
}

@media (min-width: 960px) {
  main {
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.content {
  width: 100%;
  padding: calc(var(--unit) * 2);
}

.search {
  appearance: none;
  background-color: var(--color-surface);
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  width: 100%;
  max-width: 100%;
  border-radius: var(--roundness);
  padding: calc(var(--unit) * 1.5) calc(var(--unit) * 2);
  margin-bottom: calc(var(--unit) * 2);
  transition: background-color var(--transition);
}

.search:focus {
  background-color: var(--color-surface-hover);
}

.search::placeholder {
  color: var(--color-text-muted);
  text-shadow: var(--shadow-text);
}

.wallpaper .search {
  background-color: var(--color-surface-wallpaper);
  -webkit-backdrop-filter: var(--blur); /* Safari */
  backdrop-filter: var(--blur);
  box-shadow: var(--shadow-box);
}

.wallpaper .search:focus {
  background-color: var(--color-surface-wallpaper-hover);
}

@media (min-width: 560px) {
  .search {
    width: 300px;
  }
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 4fr));
  gap: calc(var(--unit) * 2);
}

.app-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: var(--roundness);
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-surface);
  transition: background-color var(--transition);
}

.app-tile:hover {
  background-color: var(--color-surface-hover);
}

.app-tile:hover .app-icon {
  transform: scale(1.1);
}

.app-tile:focus-visible, .app-tile[data-focus='true'] {
  outline: 2px solid var(--color-text-muted);
  outline-offset: 0;
}

.wallpaper .app-tile {
  background-color: var(--color-surface-wallpaper);
  -webkit-backdrop-filter: var(--blur); /* Safari */
  backdrop-filter: var(--blur);
  box-shadow: var(--shadow-box);
}

.wallpaper .app-tile:hover {
  background-color: var(--color-surface-wallpaper-hover);
}

.app-tile[data-match='none'] {
  visibility: hidden;
}

.app-icon {
  width: 48px;
  transform: scale(1);
  transition: transform var(--transition);
}

.app-name {
  position: absolute;
  bottom: calc(var(--unit) * 2);
  color: var(--color-text-muted);
  text-shadow: var(--shadow-text);
  font-size: var(--font-size-sm);
  font-weight: 400;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-name mark {
  color: var(--color-text);
  background-color: transparent;
}

.app-status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 4px;
  border-radius: var(--roundness) 0;
}

.app-status[data-status='running'] {
  background-color: var(--color-status-running);
}

.app-status[data-status='restarting'],
.app-status[data-status='paused'] {
  background-color: var(--color-status-warning);
}

.app-status[data-status='exited'],
.app-status[data-status='dead'],
.app-status[data-status='created'],
.app-status[data-status='removing'] {
  background-color: var(--color-status-danger);
}

.app-status[data-status='unknown'],
.app-status[data-status=''] {
  background-color: var(--color-status-unknown);
}

.system-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: calc(var(--unit) * 2);
  gap: calc(var(--unit) * 2);
  font-size: var(--font-size-sm);
  font-weight: 400;
  transition: opacity var(--transition);
}

.system-info[data-visible='false'] {
  opacity: 0;
}

.system-info[data-visible='true'] {
  opacity: 1;
}

.system-info .label {
  opacity: 0.3;
  margin-right: var(--unit);
}

.system-info .warning {
  color: var(--color-status-warning);
}

.system-info .danger {
  color: var(--color-status-danger);
}
