/* CSS Reset */
html {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Tokens */
:root {
  --roundness: 3px;
  --unit: 8px;
}

/* Styles */
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #29292e;
  color: #fff;
}

body.wallpaper {
  background-size: cover;
  background-position: center;
  background-image: var(--wallpaper, 'none');
}

main {
  display: flex;
  margin: auto;
  max-width: 960px;
}

@media (min-width: 960px) {
  main {
    min-height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.content {
  width: 100%;
  padding: calc(var(--unit) * 2);
}

.search {
  appearance: none;
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  width: 100%;
  max-width: 100%;
  border-radius: var(--roundness);
  padding: calc(var(--unit) * 1.5) calc(var(--unit) * 2);
  margin-bottom: calc(var(--unit) * 2);
  transition: background-color 150ms ease-in-out;
}

.search:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.wallpaper .search {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(33px); /* Safari */
  backdrop-filter: blur(33px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.wallpaper .search:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

@media (min-width: 560px) {
  .search {
    width: 300px;
  }
}

.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 4fr));
  gap: calc(var(--unit) * 2);
}

.app-tile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: var(--roundness);
  color: inherit;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 150ms ease-in-out;
}

.app-tile:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-tile:hover .app-icon {
  transform: scale(1.1);
}

.app-tile:focus-visible, .app-tile[data-focus='true'] {
  outline: 2px solid rgba(255, 255, 255, 0.5);
  outline-offset: 0;
}

.wallpaper .app-tile {
  background-color: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(33px); /* Safari */
  backdrop-filter: blur(33px);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.wallpaper .app-tile:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.app-tile[data-match='none'] {
  visibility: hidden;
}

.app-icon {
  width: 48px;
  transform: scale(1);
  transition: transform 150ms ease-in-out;
}

.app-name {
  position: absolute;
  bottom: calc(var(--unit) * 2);
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-name mark {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
}

.app-status {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 4px;
  border-radius: var(--roundness) 0;
}

.app-status[data-status='online'] {
  background-color: #65bf9b;
}

.app-status[data-status='offline'] {
  background-color: #da5956;
}

.app-status[data-status='unknown'] {
  background-color: #f0c674;
}

.system-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: calc(var(--unit) * 2);
  gap: calc(var(--unit) * 2);
  font-size: 12px;
  font-weight: 400;
  transition: opacity 150ms ease-in-out;
}

.system-info[data-visible='false'] {
  opacity: 0;
}

.system-info[data-visible='true'] {
  opacity: 1;
}

.system-info .label {
  opacity: 0.3;
  margin-right: var(--unit);
}

.system-info .warning {
  color: #f0c674;
}

.system-info .danger {
  color: #da5956;
}
